{% extends 'base.html.twig' %}

{% block title %}Hello AskManagementController!{% endblock %}

{% block body %}

  <div class="container mt-4">
    <h1>Gestion des Demandes</h1>
    <table class="table table-bordred table-striped">
      <thead>
        <tr>
          <th>Nom du démandeur</th>
          <th>Cause defaillance</th>
          <th>Niveau alerte</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for demande in demandes %}
          <tr>
            <td>
              <a href="#" class="text-dark">
                {{ demande.nomDemandeur }}</a>
            </td>
            <td>
              {{ demande.causeDefaillance }}
            </td>
            <td>{{ demande.priorite }}</td>
            <td>
              Assigner à un agent
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endblock %}
