{% extends 'base.html.twig' %}

{% block title %}Statistiques
{% endblock %}
{% block stylesheets %}
  {{parent()}}
  <style>
    .statText {
      text-align: center;
      font-style: italic;
      font-weight: bold;
      text-decoration: underline;
    }
  </style>
{%endblock %}

{% block body %}
  {% include "layouts/_nav.html.twig" %}
  <div class="container mt-4 mb-4">
    <h3 style="text-align:center">Statistiques sur les demandes</h3>
    <div style="margin-right:auto; margin-left:auto" class="col-10 mt-4">
      {{ render_chart(chart) }}
      <p class="statText mt-2">Statut des demandes</p>
    </div>
    <div style="margin-right:auto; margin-left:auto" class="col-10 mt-4">
      {{ render_chart(chart2) }}
      <p class="statText mt-2">Cause de défaillance des démandes</p>
    </div>
    <div style="margin-right:auto; margin-left:auto" class="col-10 mt-4">
      {{ render_chart(chart3) }}
      <p class="statText mt-2">Priorité des demandes</p>
    </div>
  </div>
{% endblock %}
