{% extends 'base.html.twig' %}

{% block title %}Log in
{% endblock %}
{% block stylesheets %}
	{{parent()}}
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<style>
		body {
			overflow: hidden;
		}
	</style>
{% endblock %}
{% block body %}
	{{flasher_render()}}
	<form method="post" class="user" novalidate>


		<div class="d-flex justify-content-center align-items-center" style="height:100vh">

			<div style="width:18%">

				<div class="">
					<div class=" border-0 shadow-lg" style="border-radius:8px">
						<div class="p-5">
							<div class="text-center">
								<h1 class="h4 text-gray-900 mb-4">Se connecter</h1>
							</div>
							<div class="row">
								<div class="form-group">
									<input type="email" name="email" class="form-control" value="{{ last_username }}" id="inputEmail" placeholder="Email" required autofocus>
								</div>
								<div class="form-group gy-3">
									<input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password" required>
									<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
								</div>
							</div>
							<div class="mt-4 ">
								<div class="form-check mb-4	">
									<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="_remember_me">
									<label class="form-check-label" for="flexCheckDefault">
										Se souvenir de moi
									</label>
								</div>

								<div class="d-grid gap-2 col-6 mx-auto">
									<button class="btn btn-outline-main" type="submit">
										Se connecter
									</button>
									<hr>
								</div>
								<div class="text-center">
									<a class="small" href="#">Mot de passe oublié?</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	{% endblock %}
