<footer class="footer mt-auto py-3 bg-dark">
	<div class="container mt-3">
		<a href="{{path('app_contact')}}" class="text-white h4">Contacter le service</a>
		<div class="mt-3">
			<ul>

				<li>
					<i class="fa fa-phone-alt"></i>
					00221 33 824 05 40</li>

				<li>
					<i class="fa fa-envelope"></i>
					maintenance@esp.sn</li>
				<li>
					<i class="fa fa-map-marker-alt"></i>
					Université Cheikh Anta Diop de Dakar,Corniche Ouest BP : 5085 Dakar-Fann</li>
			</div>
		</ul>
		<div class="text-small text-muted mt-3 text-center">Copyright
			<i class="far fa-copyright">2021 ESP</i>
		</div>
	</div>
</footer>
