<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{# <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}"> #}
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{# {{ encore_entry_link_tags('app') }} #}
		{% endblock %}
		<style>
			.form-control:focus,
			.form-control.is-invalid:focus {
				outline: none !important;
				box-shadow: none;
			}
			.badge-danger {
				background-color: #e74a3b;
			}
			.flashy__body {
				text-decoration: none;
			}
			.flashy {
				margin-top: 90px;
			}
		</style>

		{% block javascripts %}
			{# {{ encore_entry_script_tags('app') }} #}
		{% endblock %}
	</head>
	<body>
		<!-- Flashy depends on jQuery -->
		<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
		{# {{ include('@MercurySeriesFlashy/flashy.html.twig') }} #}

		{% block body %}{% endblock %}
	</body>
</html>
